.grid {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 30vh 1fr 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
}

/*admin styling*/
.login__component {
  grid-column: 2/-2;
  grid-row: 2/-2;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.login__form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.login__form input {
  margin-bottom: 5%;
  text-align: center;
}

/*Dashboard styling*/
.dashboard {
  grid-column: 2/-2;
  grid-row: 2/-2;
}

.dashboard__welcome {
  text-align: center;
  text-transform: capitalize;
}

.logout__button {
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.create-post__header {
  text-align: center;
}

.create-post__component {
  grid-column: 2/-2;
  grid-row: 2/-2;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.post__form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.post__form input,
.post__form textarea {
  margin-bottom: 5%;
  /* text-align: center; */
}

/*header styling*/

.header__background {
  grid-column: 1/-1;
  grid-row: 1/2;
  overflow: hidden;
  color: green;
  background-color: black;
  text-align: center;
  font-size: 0.6rem;
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.header__background-text {
  -webkit-animation-name: moveDown;
  animation-name: moveDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  overflow: hidden;
  border-bottom: 1px solid grey;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  padding: 5vw;
  position: relative;
  color: white;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.15rem 0.15rem 0.15rem rgba(255, 255, 255, 0.5);
  -webkit-animation: fadeIn ease-in 3s;
  animation: fadeIn ease-in 3s;
}

.header-github,
.header-github:link,
.header-github:active,
.header-github:visited {
  color: white;
}

/*navigation styling*/
.nav-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: green;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  z-index: 2;
  opacity: 0.9;
  cursor: pointer;
}

.navigation__component {
  grid-column: -2/-1;
  grid-row: 2/3;
}

.navigation__list {
  list-style: none;
}

/*post and posts styling*/
.posts {
  margin-top: 10vh;
  margin-bottom: 10vh;
  grid-column: 2/-2;
  grid-row: 2/3;
}

.post {
  border-bottom: 1px solid grey;
  padding-bottom: 5vh;
}

.post:not(:first-child) {
  padding-top: 5vh;
}

.post__title {
  color: green;
  text-align: center;
  text-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}

.post__date {
  text-align: center;
  font-size: small;
  /* padding-top: -10%; */
}

.post__content-centered {
  text-align: center;
}

/*footer styling isnt in the grid*/
.footer {
  position: fixed;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  background-color: black;
  color: green;
}

.footer__text-link,
.footer__text-link:link,
.footer__text-link:active,
.footer__text-link:visited {
  color: green;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 100%;
  }

  .grid {
    grid-template-rows: 35vh 1fr;
  }
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 110%;
  }
  .grid {
    grid-template-rows: 40vh 1fr;
  }
  .login__form {
    width: 80%;
    -webkit-align-self: center;
    align-self: center;
  }
  .post__form {
    width: 80%;
    -webkit-align-self: center;
    align-self: center;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 115%;
  }
  .header-headings {
    font-size: 1.5rem;
  }
  .grid {
    grid-template-rows: 45vh 1fr;
  }
  .login__form {
    width: 60%;
    -webkit-align-self: center;
    align-self: center;
  }
  .post__form {
    width: 60%;
    -webkit-align-self: center;
    align-self: center;
  }
}

@media only screen and (min-width: 1000px) {
  .header-headings {
    font-size: 2rem;
  }
  .login__form {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
  }
  .post__form {
    width: 40%;
    -webkit-align-self: center;
    align-self: center;
  }
}
